@model InfinysBreakfastOrders.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Please login to order your breakfast!!!</h4>
<hr />
<div>
    <p>
        This is the application to order breakfasts in the coolest team in all Vivacom !!!
    </p>
    <p>
        If you are not a member of the team - just get out of here !
    </p>
</div>
