@model IEnumerable<InfinysBreakfastOrders.Web.ViewModels.Home.IndexOrderViewModel>

    @{
        ViewBag.Title = "Home Page";
    }

    <div>
        @foreach (var order in Model)
        {
            <p>@order.OrderText</p>
        }
    </div>