@model IEnumerable<InfinysBreakfastOrders.Web.ViewModels.Home.IndexOrderViewModel>

@{
    ViewBag.Title = "Today orders";
}

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h3>@DateTime.Now.ToShortDateString()</h3>
    </div>
</div>
<hr />
<hr />

<div class="container">
    @foreach (var order in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <h4>@order.Author.UserName</h4>
            </div>
            <div class="col-md-8">
                <h4>@Html.Raw(order.OrderText)</h4>
            </div>
        </div>
        <hr />
    }
</div>
