@model IEnumerable<InfinysBreakfastOrders.Data.Models.Order>

    @{
        ViewBag.Title = "Home Page";
    }

    <div>
        @foreach (var order in Model)
        {
            <p>@order.OrderText</p>
        }
    </div>